
.card{
    &-title{
        background-color: #009393;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        h2{
            color: #fff;
            font-size: 1rem;
        }
        i{
            color: #fff;
        }
    }
    &-body{
        height: calc(100dvh - 138px);
        overflow: auto;
    }
}
.label{
    font-size: 0.875rem;
    color: #009393;
    font-weight: 600;
    margin-bottom: -5px !important;
}
span{
    font-size: 0.875rem;
}
.table-responsive{
    .table{
        thead{
            tr{
                th{
                    background-color: #009393;
                    color: #fff;
                    font-size: 0.875rem;
                    padding: 5px;
                    &:first-child{
                        border-radius: 5px 0 0 0;
                    }
                    &:last-child{
                        border-radius: 0 5px 0 0;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 0.875rem;
                    padding: 5px;
                }
                &:nth-child(even){
                    td{
                        background-color: lighten($color: #009393, $amount: 66);
                    }
                }
            }
        }
    }
}