<div class="popup">
  <div class="icon d-flex justify-content-center align-items-center">
    <img src="../../../../assets/images/delete-img.svg" alt="" />
  </div>
  <h2>Want to Delete ?</h2>
  <p>
    Are you sure to delete the
    <span style="font-weight: 600">{{
      data.deleteData.name + "/" + data.deleteData.husbandName
    }}</span>
    ?
  </p>
  <p>You will <span>not be able to recover</span> them.</p>
  <div class="d-flex mt-4 justify-content-center w-100" style="gap: 10px">
    <button class="btn btn-secondary w-100" (click)="toClose()" type="button">
      Dismiss
    </button>
    <button class="btn btn-primary w-100" type="submit" (click)="toDelete()">
      Delete
    </button>
  </div>
</div>
