
.popup{
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 20px !important;
    @media (min-width:360px){
        width: 335px;
    }
    @media (min-width:480px){
        width: 384px;
    }
    @media (min-width:576px){
        width: 450px;
    }
    .icon{
        width: 150px;
        height: 150px;
        background-color: #E0EECF;
        border-radius: 50%;
    }
    h2{
        color: #3D546E;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    p{
        text-align: center;
        margin: 0;
        font-size: 1rem;
    }
    span{
        color: #86AC1F;
    }
}